.period {
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 73px;
  width: 973px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  @media (min-width: 1440px) {
    font-size: 200px;
    line-height: 160px;
  }
}

.start {
  color: #3877ee;
}

.end {
  color: #ef5da8;
}
