$blueColor: #42567a;
$witeColor: #ffffff;
$darkBlueColor: #303e5880;

.circleContainer {
  display: none;
  @media (min-width: 1440px) {
    display: block;
    position: absolute;
    top: 215px;
    left: calc(100% / 2 - 268px);
    width: 536px;
    height: 536px;
  }
}

.circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  &__active {
    width: 56px;
    height: 56px;
    color: $blueColor;
    border: 1px $darkBlueColor solid;
    pointer-events: none;
    background: $witeColor;
  }

  &__inactive {
    background: $blueColor;
    width: 6px;
    height: 6px;
    pointer-events: unset;
    transition: all;
    transition-duration: 300ms;

    &:hover {
      width: 56px;
      height: 56px;
      color: $blueColor;
      background: $witeColor;
      border: 1px $darkBlueColor solid;
    }
  }

  &__name {
    color: $blueColor;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    position: absolute;
    left: 76px;
    margin: 0;
  }

  &__span {
    opacity: 0;
  }
}

.number__inactive:hover .number__span {
  opacity: 100;
}
