.container {
  width: 1440px;
  margin: 0 auto;
  @media (min-width: 1440px) {
    font-size: 56px;
    line-height: 67px;
    border-right: 1px #c7cdd9 solid;
    border-left: 1px #c7cdd9 solid;
  }
}
