.swiperr {
  position: relative;
  overflow-x: visible;
}
.navigation {
  width: 40px;
  aspect-ratio: 1;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px 0px #3877ee1a;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(100% / 2);
  z-index: 30;
}

.prev {
  left: -50px;
}

.next {
  right: -50px;
}

.swiper-button-disabled {
  display: none;
}

.swiper-custom-bullet {
  display: inline-block;
  height: 8px;
  width: 8px;
  background-color: #848484;
  border-radius: 50%;
  margin-left: 4px;
  margin-right: 4px;
}

@media (min-width: 1440px) {
  .swiper-custom-bullet {
    height: 16px;
    width: 16px;
    margin-left: 8px;
    margin-right: 8px;
  }
}

.swiper-slide {
  width: auto;
}

.swiper-custom-bullet.swiper-custom-bullet-active {
  background-color: #0a0909;
}
.slide {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.slide__date {
  margin: 0;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #3877ee;
}

.slide__content {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}
