.swiper-custom-bullet {
  display: inline-block;
  height: 8px;
  width: 8px;
  background-color: #848484;
  border-radius: 50%;
  margin-left: 4px;
  margin-right: 4px;
}

@media (min-width: 1024px) {
  .swiper-custom-bullet {
    height: 16px;
    width: 16px;
    margin-left: 8px;
    margin-right: 8px;
  }
}

.swiper-slide {
  width: auto;
}

.swiper-custom-bullet.swiper-custom-bullet-active {
  background-color: #0a0909;
}
.slide {
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.slide__date {
  margin: 0;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #3877ee;
}

.slide__content {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}
